body {
    margin: 0;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.hero-block {
    display: flex;
    flex-direction: column-reverse;
}


.hero-block__column {
    width: 100%;
    background: beige;
    min-height: 150px;
    padding: 24px;
}

.hero-block__column--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-block__column--right {
    background: beige;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.columns-block {
    display: flex;
    flex-direction: column;
}
.columns-block__column {
    width: 100%;
    padding: 32px 32px 48px 32px;
    display: flex;
    flex-direction: column;
    background: azure;
}

.columns-block__title {

}

.columns-block__list {
    padding: 0;
    margin: 0 0 0 24px;
}

.columns-block__list-item {
    list-style-type: square;
    padding: 5px 0;
}

@media only screen and (min-width: 768px) {

    .columns-block {
        flex-direction: row;
    }

    .columns-block__column {
        width: 33%;
    }

    .hero-block__column {
        width: 50%;
        min-height: 450px;
    }

    .hero-block {
        flex-direction: row;
    }

}
